
@{
    ViewData["Title"] = "Monitoring Piutang Usaha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script>
    var urlGetData = '@Url.Action("GetPiutangUsaha", "Finance")';
    var urlGetCustomer = '@Url.Action("GetCustomer", "DO")';
    var urlgetDetail = '@Url.Action("GetPiutangUsahaDetail", "Finance")';
    var urlgetPenjualan = '@Url.Action("GetPenjualan", "Finance")';

</script>

<script src="~/Script/Finance/MonPiutangUsaha.js" asp-append-version="true"></script>
<div id="wrapperList">
    <div class="panel-title">
        <div class="col-md-12" style="margin-bottom: 15px;">
            <span class="fontTitle">Monitoring Piutang Usaha</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12" style="margin-bottom: 15px;">
            <div class="col-md-12">
                <div class="">
                    <label class="col-md-1 col-form-label" style="margin-left: 10px;">Tanggal:</label>
                    <div class="col-md-2">
                        <div class='input-group date' id="divtanggalfrom">
                            <input id='tanggalfrom' type='text' class="form-control datepicker" value="" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-2" style="border: 1px black solid;margin-left: 10px;">
                        <input type="radio" id="rd1" name="tipe" value="ALL" checked>
                        <label for="male">Semua Nota</label>
                        <input type="radio" id="rd2" name="tipe" value="OUTSTANDING">
                        <label for="male">Nota Outstanding</label>
                    </div>
                    <label class="col-md-1 col-form-label" style="margin-left: 10px;">Customer:</label>
                    <div class="col-md-2">
                        <select name="Kd_Customer" id="Kd_Customer" class="selectpicker w-100" data-live-search="true" ></select>
                    </div>
                    <div class="col-md-1">
                        <button id="addPO" class="btn btn-info pull-right" onclick="searchPO();"><i class="glyphicon glyphicon-search"></i>&nbsp; Filter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:10px">
                <label class="col-md-1 col-form-label" style="margin-left: 10px;">No Transaksi:</label>
                <div class="col-md-2">
                    <input id="txtNoTrans" class="form-control" />
                </div>
                <div class="col-md-1">
                    <button id="addPO" class="btn btn-info pull-right" onclick="searchByNotrans();"><i class="glyphicon glyphicon-search"></i>&nbsp; Filter No Trans</button>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="display:inline-block;">
            <div id="gvList"></div>

        </div>

        <div class="col-md-12" style="display:inline-block;margin-top:15px;">
            <h2>Detail Piutang</h2>
            <div id="gvDetail"></div>
        </div>
        <div class="col-md-12" style="display:inline-block;">
            <h2>Detail Penjualan</h2>
            <div id="gvPenjualan"></div>
        </div>
    </div>
</div>
<div id="editForm"></div>
<div id="dialog"></div>


<style>

    /*horizontal Grid scrollbar should appear if the browser window is shrinked too much*/
    #grid table {
        min-width: 1190px;
    }
</style>


