<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="conn" connectionString="Data Source=DESKTOP-HOV1NBU\SQLEXPRESS;Initial Catalog=MAA;Integrated Security=False;User ID=sa;Password=coll@393;Connect timeout=3600" providerName="System.Data.SqlClient"/>-->
    <add name="conn" connectionString="data source=LAPTOP-SC5RR2RV;initial catalog=SIF;persist security info=True;user id=sa;password=almeera18;Connect timeout=3600" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>