
@{
    ViewData["Title"] = "ApprovalRequestPO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var urlGetData = '@Url.Action("GetPORequest", "PO")';
      var urlSave = '@Url.Action("SaveApprovalRequestPO", "PO")';
</script>
<script type="text/javascript" src="~/Script/PO/ApprovalRequest.js" asp-append-version="true"></script>
<div id="wrapperList">
    <div class="panel-title">
        <div class="col-md-12" style="margin-bottom: 15px;">
            <span class="fontTitle">Approval Request Purchasing Order</span>
        </div>
    </div>

    <div class="col-md-12" style="margin-bottom: 15px;">
        <button id="saveApprovalPO" class="btn btn-primary pull-right" onclick="onsaveApprovalPO();"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save Changes</button>
    </div>
    <div class="col-md-12" style="display:inline-block;">
        <div id="GridPO"></div>
    </div>

</div>
<div id="editForm"></div>
<div id="dialog"></div>

