
@{
    ViewData["Title"] = "User Guide";
    Layout = null;
}

<h1>UserGuide</h1>

<a asp-area="" asp-controller="Account" asp-action="UserGuidePrint" style="font-size:2vw;">Ga bisa ngePrint EPSON dotmatrix???</a><br />
<a asp-area="" asp-controller="Account" asp-action="UserGuidePenjualan" style="font-size:2vw;">Penjualan</a><br />
<a asp-area="" asp-controller="Account" asp-action="UserGuideNonCash" style="font-size:2vw;">Alur Non Cash</a><br />
<a asp-area="" asp-controller="Account" asp-action="UserGuideRetur" style="font-size:2vw;">Retur</a><br />
<a asp-area="" asp-controller="Account" asp-action="UserGuideLapSales" style="font-size:2vw;">Laporan Penjualan</a><br />
<a asp-area="" asp-controller="Account" asp-action="UserGuideOpname" style="font-size:2vw;">Opname Stok</a><br />
<a asp-area="" asp-controller="Account" asp-action="UserGuideAllCabang" style="font-size:2vw;">Stok Semua Cabang</a><br />
<a asp-area="" asp-controller="Account" asp-action="UserGuideCekStok" style="font-size:2vw;">Cek Stok Saat Jualan</a><br />
<a asp-area="" asp-controller="Account" asp-action="UserGuideMTS_out" style="font-size:2vw;">Mutasi Keluar antar Cabang</a><br />
<a asp-area="" asp-controller="Account" asp-action="UserGuideMTS_in" style="font-size:2vw;">Penerimaan Mutasi antar Cabang</a><br />
